* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-cat.cat.acx -text
/apertium-cat.cat.dix -text
/apertium-cat.cat.rlx -text
/apertium-cat.pc.in -text
/apertium-cat.post-cat.dix -text
/autogen.sh -text
/cat.prob -text svneol=unset#unset
/configure.ac -text
/modes.xml -text
