/*.bin
/*.gz
/*.m4
/*.pc
/INSTALL
/Makefile
/Makefile.in
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/*.mode
/.d
/.deps
*~
/test/*-output.txt
/dev/testvoc/duplicates.*.txt
/tagger-data/cat.tagged
/tagger-data/cat.tagged.txt
/tagger-data/cat.untagged
/tagger-data/cat.dic
/tagger-data/cat.dic.expanded
/tagger-data/cat.crp
/tagger-data/cat.crp.txt
